.clock{

  //@include gpu();

  //@include skew( 10, 50 );
  position: absolute;
  width: $clock-width;
  height: $clock-height;
  top: $clock-y;

  left:$clock-x;

  padding-top: $clock-padding-top;
  z-index: 1;

  .digits-container{

    position: absolute;
    z-index: 1;

    @include hbox( 4, 100% );

    margin: 0;
    padding: 0;

    width: 100%;
    text-align: center;

    color: $colour-clock-digits;

    .digit-element{

      font-size: $clock-digit-font-size;
    }
  }
}