$font-path:"../assets/fonts/";

@font-face {
  font-family: 'AFCashier1Regular';
  src: url( $font-path + 'afcashier1.eot');
  src: url( $font-path + 'afcashier1.eot') format('embedded-opentype'),
  url( $font-path + 'afcashier1.woff') format('woff'),
  url( $font-path + 'afcashier1.ttf') format('truetype'),
  url( $font-path + 'afcashier1.svg#AFCashier1Regular') format('svg');
}


@font-face {
  font-family: 'ITCCaslon224StdMedium';
  src: url( $font-path +  'caslon224std-medium.eot');
  src: url( $font-path +  'caslon224std-medium.eot') format('embedded-opentype'),
  url( $font-path + 'caslon224std-medium.woff') format('woff'),
  url( $font-path + 'caslon224std-medium.ttf') format('truetype'),
  url( $font-path + 'caslon224std-medium.svg#ITCCaslon224StdMedium') format('svg');
}

