@mixin hbox( $cols, $width, $wrap:"true" ){

  ul{ // NOTE should be UL element in html!

    *{
      box-sizing: border-box;
    }

    //    @if $wrap == "false" {
    //      white-space: nowrap;
    //    } @else {
    //      white-space: normal;
    //    }

  }

  li{
    display: inline-block;
    vertical-align: top;
    position: relative;

    @if $width != 'auto' {
      width: $width / $cols;//floor( $width / $cols );
    } @else {
      width: auto;
    }

    margin-left:-0.25em;//-4px;//-1px; // NOTE hack for inline spaces
  }

  li:first-child{
    margin-left: 0; // NOTE except the first one
  }
}


// Mixin to force gpu rendering
@mixin gpu{

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  backface-visibility: visible;
  perspective: 1000;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


// ********

// swiped from http://codepen.io/sawmac/pen/qGudy
// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}