.moments-container{

  .moment{

    @include gpu();

    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: #f4f4f4;


    z-index: 2;

    display: none;

    .message-container{

//      @include gpu();

      position: absolute;
      width: $clock-width;
      height: $clock-height;
      top:$clock-y;

      left:$clock-x;

      padding-top: $clock-padding-top;
      overflow: hidden;


      .message{

        /*@include gpu();*/

        position: absolute;
        //background-color: red;
        white-space: nowrap;
        color: $colour-clock-digits;
        font-size: $clock-digit-font-size;

        left:100%; // NOTE ensure out of view while js inits
      }
    }


  }

}