$colour-main-bg:#0b0b09;

$colour-clock-bg:#000;
$colour-clock-digits:#fff;

$clock-width:752px;
$clock-height:165px;
$clock-y:195px;
$clock-x:120px;
//$clock-digit-font-size:4.5em; // CASHIER
$clock-digit-font-size:6em; // CASLON
//$clock-padding-top:40px;// CASHIER
$clock-padding-top:20px;// CASLON


// ...

@import "fonts";
@import "mixins";

@import "clock";
@import "moment";


html, body{
  padding: 0;
  margin: 0;
  background-color: $colour-main-bg; // FIXIT don't know if we own this
}


// NOTE if enabled in Config.js, dom will be inserted dynamically
.hlcddebug{

  background-color: darkred;
  position: absolute;
  bottom:1%;
  left:1%;

  opacity: 0.5;

  color:red;
  cursor: pointer;

  font-family: 'AFCashier1Regular';

  font-size: 30px; // NOTE base size

  z-index: 10;


  div{
    margin: 5px;
  }

  div:hover{
    color:yellow;
  }
}


#hlcd-container{

  // NOTE resets
  *{
    box-sizing: border-box;

    // NOTE disable selection
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  //font-family: 'AFCashier1Regular';
  font-family: 'ITCCaslon224StdMedium';
  font-size: 16px; // NOTE base size

  margin: 0;
  padding: 0;

  @include transform-origin( top );

  .content{
    height: 800px;
    width: 980px;

    //border: 1px solid red;

    margin-left: -490px;
    display: block;
    position: relative;
    left: 50%;
    overflow: hidden;
  }


    .distressed-overlay{

      position: absolute;
      width: $clock-width;
      height: $clock-height;

      top: $clock-y;
      left:$clock-x;

      padding-top: $clock-padding-top;
      z-index: 3;

      //border: 1px solid red;

      background-repeat: no-repeat;
      background-image: url( ../assets/images/shell/clock-distressed-overlay-large.png );
    }


  .scene{
    width: 900px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 40px;

    //border: 1px solid green;

    z-index: 0;
    background-repeat: no-repeat;
    background-image: url( ../assets/images/shell/clock_face.jpg );
    background-position: center top;
  }

  .video-player{

    position: absolute;
  }


  h1{ // FIXIT REMOVE
    color:green;
  }
}